<p>Hi <%= @user.full_name %>!</p>

<p>An automated billing invoice has been generated for your account. The invoice is attached and can also be viewed in the <%= link_to 'billing section', billing_index_url %></p>

<p>Payment was automatically deducted from your Wallet balance.</p>

<p>Thanks,</p>

<p>The <%= ENV['BRAND_NAME'] %> Team</p>
