<p>Hi <%= @user.full_name %>!</p>

<p>An automated billing invoice has been generated for your account. The invoice is attached and can also be viewed in the <%= link_to 'billing section', billing_index_url %></p>

<p>Payment for this invoice is now due. Automatic payment for this invoice could not be deducted from your billing card. Please review the <%= link_to 'primary billing card', billing_index_url %> we have on file. We will attempt again to deduct payment for this invoice in 24 hours on your primary billing card</p>

<p>Thanks,</p>

<p>The Cloud.net Team</p>
