---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes?created%5Bgt%5D=1460053800
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "dp_17xw1l4uZwGGrGultLyveJq4",
              "object": "dispute",
              "amount": 2500,
              "balance_transaction": "txn_17xw1l4uZwGGrGul6x0GVyt0",
              "balance_transactions": [
                {
                  "id": "txn_17xw1l4uZwGGrGul6x0GVyt0",
                  "object": "balance_transaction",
                  "amount": -1779,
                  "available_on": 1460678400,
                  "created": 1460108145,
                  "currency": "gbp",
                  "description": "Chargeback withdrawal for ch_17xw1i4uZwGGrGulM87WR8DP",
                  "fee": 1500,
                  "fee_details": [
                    {
                      "amount": 1500,
                      "application": null,
                      "currency": "gbp",
                      "description": "Dispute fee",
                      "type": "stripe_fee"
                    }
                  ],
                  "net": -3279,
                  "source": "ch_17xw1i4uZwGGrGulM87WR8DP",
                  "sourced_transfers": {
                    "object": "list",
                    "data": [],
                    "has_more": false,
                    "total_count": 0,
                    "url": "/v1/transfers?source_transaction=ad_17xw1l4uZwGGrGulw3zxofe2"
                  },
                  "status": "pending",
                  "type": "adjustment"
                }
              ],
              "charge": "ch_17xw1i4uZwGGrGulM87WR8DP",
              "created": 1460108145,
              "currency": "usd",
              "evidence": null,
              "is_charge_refundable": false,
              "livemode": false,
              "metadata": {},
              "reason": "general",
              "status": "needs_response",
              "evidence_due_by": 1461542399
            }
          ],
          "has_more": false,
          "url": "/v1/disputes"
        }
  recorded_at: Sat, 09 Apr 2016 10:09:18 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes/dp_17xw1l4uZwGGrGultLyveJq4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
  [...]
[...]
