#payg-add-funds.modal.input-form.fade{"aria-hidden" => "true", "aria-labelledby" => "payg-add-funds-label", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#payg-add-funds-label.modal-title Add Funds to Wallet
      .modal-body

#payg-confirm-payg-dialog.modal.input-form.fade{"aria-hidden" => "true", "aria-labelledby" => "payg-confirm-payg-label", role: "dialog", tabindex: "-1", "data-backdrop" => 'static'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#payg-confirm-payg-label.modal-title Confirmation for Adding Funds via Primary Card
      .modal-body#confirm-payg-content


#payg-status-payg-dialog.modal.input-form.fade{"aria-hidden" => "true", "aria-labelledby" => "payg-status-payg-label", role: "dialog", tabindex: "-1", "data-backdrop" => 'static'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#payg-status-payg-label.modal-title Wallet Top Up Status Update
      .modal-body
        #status-payg-content

        .modal-footer
          %button.btn.jg-back-button{"data-dismiss" => "modal"} Close

#payg-add-card.modal.input-form.fade{"aria-hidden" => "true", "aria-labelledby" => "payg-add-card-label", role: "dialog", "data-backdrop" => 'static', keyboard: 'false'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#payg-add-card-label.modal-title Add new Card
      .modal-body#jg-add-card
        = render partial: 'billing/add_card/add_card_form'

= javascript_include_tag "payg/payg_topup"
= javascript_include_tag "https://www.paypalobjects.com/js/external/dg.js"

= javascript_include_tag "payg/paypal_responder"
