.btn.btn-default{:"ng-click" => "cloud=!cloud",
                 :"ng-class" => "{'button-active': cloud}"} Cloud
.btn.btn-default{:"ng-click" => "vps=!vps",
                 :"ng-class" => "{'button-active': vps}"}  VPS