.pure-g
  .pure-u-2-5
    .location-details
      %img.flag{:"ng-src" => "/assets/images/flags/flat/24/{{ location.country }}.png"}
      %span {{location.city}}, {{location.countryName}}
  .pure-u-2-5
    .location-tags
      %span.square-label.font-11{:"ng-show" => "location.ssdDisks"} SSD
      %span.square-label.font-11{:"ng-show" => "location.budgetVps"} VPS
      %span.square-label.font-11{:"ng-hide" => "location.budgetVps"} CLOUD
  .pure-u-1-5
    .provider
      %span.provider-name{title: "{{location.provider}}"} {{location.provider}}
.pure-g
  .pure-u-1-5
    .uptime-chart
    .labelg.uptime 30 days average
  .pure-u-1-5
    .cloud-index-graph
      .border
    .labelg 
      cloud index
      %a{href: "https://help.cloud.net/hc/en-us/articles/206557364",
          target: "_blank" } {{location.cloudIndex}}
  .pure-u-2-5
    .parameters
      %table{class: "table"}
        %tr
          %td.pictogram
            = image_tag('mem-pic.png')
          %td.descr.font-11 MEMORY (MB) 
          %td {{memoryPerHour()}}
        %tr
          %td.pictogram
            = image_tag('disk-pic.png')
          %td.descr.font-11 DISK (GB)
          %td {{diskPerHour()}}
        %tr
          %td.pictogram
            = image_tag('cpu-pic.png')
          %td.descr.font-11 CPU (Cores)
          %td {{cpuPerHour()}}
        %tr
          %td.pictogram
            = image_tag('cpu-pic.png')
          %td.descr.font-11 TRAFFIC
          %td {{freeBandwidthPerMonth()}}
  .pure-u-1-5
    .action{:"ng-hide" => "location.budgetVps && noPackageActive()"}
      .price-box
        .text-label Hourly
        .price-value
          {{totalPricePerHour()}} 
      .price-box
        .text-label Monthly
        .price-value
          {{totalPricePerMonth()}} 
      %button.btn.btn-primary.btn-sm{:"ng-click" => 'provision()'} Deploy Server
    .no-package-message{:"ng-show" => "location.budgetVps && noPackageActive()"}
      .action
        Choose predefined package for VPS pricing
        
%additional-info{:"ng-show" => "showMore()",location: "location"}
