%h3 Regions
%p<
  Only show clouds from region...

.regions-container
  .region
    %input{type: "radio", name: "region", checked: "checked", id: "-1", value: "-1"}
    %label{for: "-1"} Global
  .region{:"ng-repeat" => "l in locations | filter:{region: '!'} | unique:'region.id'"}
    %input{type: "radio", name: "region", id: "{{l.region.id}}", value: "{{l.region.id}}"}
    %label{for: "{{l.region.id}}"} {{l.region.name}}
