%h3 Regions
%p<
  Only show clouds from region...

.regions-container
  .region
    %label
      %input{type: "radio", :"ng-model" => "state.regionFilter", checked: "", name: "region", :"ng-value" => "{}"}
      Global
  .region{:"ng-repeat" => "l in state.locations | filter:{region: '!'} | unique:'region.id'"}
    %label
      %input{type: "radio", :"ng-model" => "state.regionFilter", name: "region", :"ng-value" => "{region:{id:{{l.region.id}}}}"}
      {{l.region.name}}
