# Rename this file to .env

# Postgres credentials
DB_USER=
DB_PORT=
DB_NAME=cloudnet
DB_PASSWD=
DB_HOST=

MEMCACHE_URI=localhost:11211
REDIS_URI=redis://localhost:6379

# Onapp API
ONAPP_API_ALLOW_INSECURE=false
ONAPP_CP=https://onapp.api.endpoint.com
ONAPP_USER=
ONAPP_PASS=
ONAPP_ROLE=

# Zendesk
ZENDESK_USER=
ZENDESK_TOKEN=
ZENDESK_TRIGGER_USER=
ZENDESK_TRIGGER_PASS=

# Credit card fraud detection
MAXMIND_USER=
MAXMIND_KEY=

# Segment.io custom analytics
ANALYTICS_KEY=

# Logging
SENTRY_DSN_URI=http://localhost

# Payments
STRIPE_API_KEY=
STRIPE_PUBLISH_KEY=

# Mailtrap: captures mail, so real users don't get spammed.
# Only needed in non-production environments
MAILTRAP_USER=
MAILTRAP_PASS=

# Generate with `rails generate symmetric_encryption:new_keys production`
SYMMETRIC_ENCRYPTION_KEY=

# Use 'true' if you're hosting on Docker or a PaaS like Heroku
SERVE_STATIC_ASSETS=

# Email provider. Eg; Sendgrid, Mandrill, etc
SMTP_DOMAIN=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_AUTH_METHOD=

# Admin recipients
MAILER_ADMIN_RECIPIENTS="sample@email.com, joebloggs@website.com"
# Financial report recipients
MAILER_ENQUIRY_RECIPIENTS="sample@email.com, joebloggs@website.com"
MAILER_FINANCE_RECIPIENTS="sample@email.com, joebloggs@website.com"
MAILER_ADMIN_DEFAULT_FROM='Cloud.net Admin <admin@website.com>'
MAILER_NOTIFICATIONS_DEFAULT_FROM='Cloud.net Notifications <notifications@website.com>'
MAILER_DEFAULT_WELCOME='Cloud.net <welcome@website.com>'

# Appears at the top of PDFs for invoices, credit notes, etc
PDF_HEADER="Company name\nAddress line 1\nVAT number\netc"

# Used to display images for provider locations
FIVEHUNDREDPX_KEY=

# Used to display the map of providers, seen when creating a server
MAPBOX_TOKEN=

# Session keys. Generate with `rake secret`
DEVISE_SECRET_KEY=
COOKIES_SECRET_BASE=

# Google Analytics code
GA_UA_NUMBER=

# Capistrano deployment config. (Not needed if using Docker installation method)
GIT_ORIGIN=git@github.com:OnApp/cloudnet.git
PROD_SERVER1_IP=1.2.3.4
PROD_SERVER2_IP=1.2.3.4
STAGING_SERVER1_IP=1.2.3.4
STAGING_SERVER2_IP=1.2.3.4
