@import "partials/base";

.public-contact{
  background: #F5F6F7;
  .headline{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    h1{
      $public-font: 'Oxygen', sans-serif;
      color: #6A8A9C;
      text-transform: uppercase;
      font-weight: bold;
    }
    h2{
      $public-font: 'Oxygen', sans-serif;
      font-size: $sixteen;
      color: #6A8A9C;;
    }
  }
  
  .social-bar{
    background: #4E5B64;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    h1{color: #6A8A9C;}
    a:hover{text-decoration: none;};
    .media{
      color: white;
      text-transform: uppercase;
      font-size: $twelve;
      font-weight: bold;
    }
    .msg{
      color: #92A1AB;
      font-size: $thirteen;
    }
    .soc-pic{
      width: 30px;
      height: 24px;
      margin-right: auto;
      margin-left: auto;
      overflow: hidden;
      img{position: relative;}
    }
    img.mail-pic{ left: -53px; top: -35px; }
    img.fb-pic{ left: -22px; top: -35px; }
    img.tweet-pic{ left: 5px; top: -35px; }
  }
  
  .inner-headline{
    position: relative;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: -66px;
  }
  
  .address{
    background: white;
    p{
      color: #11161C;
      margin: 0;
    }
    padding-top: 80px;
    padding-bottom: 80px;
    .text{margin-bottom: 50px;}
    .flag{
      width: 51px;
      height: 34px;
      margin-right: 15px;
      margin-top: 3px;
      float: right;
      overflow: hidden;
      img{position: relative;}
    }
    img.us-flag{ left: 1px; }
    img.uk-flag{ left: -50px; }
    img.ml-flag{ left: -101px; }
    
    iframe{
      width: 100%;
      height: 200px;
    }
  }
  .send-message{
    background: white;
    margin-bottom: 80px;
    padding-bottom: 80px;
    .form-group{ width: 95%; margin-left: -66px;}
    label{ 
      font-size: $eleven;
      color: #AAB3BA;
      text-transform: uppercase;
    }
    .btn-send{
      width: 200px;
      background: #6A8A9C;
      height: 40px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      font-size: $eleven;
      @include border-radius(0);
      margin-left: -66px;
    }
    .form-control{
      background: #F5F6F7;
      border: 1px solid #E2EAEF;
      @include border-radius(0);
      @include box-shadow(none);
    }
    .form-group.long{width:100%;}
    textarea{
      height: 200px;
      margin-bottom: 30px;
    }
  }
  #message-sent{
    @include transition( 1s all linear);
    margin-bottom: 16px;
    font-weight: bold;
    color: rgb(239, 20, 20);
    &.hide-mes{ opacity: 0; }
    &.show-mes{ opacity: 1; }
    margin-left: -66px;
  }
}