@import "partials/base";
.public{
  .deploy{
    background: #11161C;
    padding-top: 80px;
    padding-bottom: 80px;
    h3{
      color: white;
      font-size: 1em;
      text-align: center;
    }
  }
}