- breadcrumb :new_dns_zone
- title "Create DNS Zone"

- if @domain.errors.any?
  %div.alert.alert-danger
    %a.close{href: "#", data: {dismiss: "alert"}} &times;
    %strong Error: 
    = @domain.errors.full_messages.join(', ')

.jg-widget-content
  .jg-widget-header.pure-g.clearfix
    %h2.pure-u.jg-icon.icon-target
      Add Domain to DNS
  .jg-widget-body
    = render 'form'