- breadcrumb :dns_zone, @domain
- title "DNS Zone for #{@domain.domain}"

- DnsZone::RECORD_TYPES.each do |type|
  = render partial: "dns_zones/records/#{type}", locals: { domain: @domain, records: @records }

:coffeescript
  $.fn.editable.defaults.mode = 'inline';

  $ -> 
    _.each $('.dns_editable'), (el) ->
      $(el).editable
        params: (params) ->
          hash = {}
          hash[params.name] = params.value
          return { dns_record: hash, record_id: params.pk }

        error: (response, newValue) ->
          errors = _.parseErrors response.responseJSON.errors
          return errors

        validate: (value) ->
          return 'This field is required' if $.trim(value) == ''

    $(".jg-dns-record-form").on("ajax:send", (xhr) ->
      $(this).find('.jg-back-button').first().attr('disabled','disabled');
      $(this).find('.jg-submit-button').first().attr('disabled','disabled');
    ).on("ajax:success", (e, data, status, xhr) ->
      document.location.reload(true)
    ).on "ajax:error", (e, xhr, status, error) ->
      errors = xhr.responseJSON.errors
      error  = []
      _.each errors, (v, k) ->
        error.push(k.substr(0, 1).toUpperCase() + k.substr(1) + " " + v.join(', '))

      alert_box = $(this).find('.dns-alert').first()
      alert_box.html "<div class='alert alert-danger'><strong>Error: </strong>" + error.join(', ') + "</div>"

      $(this).find('.jg-back-button').first().removeAttr('disabled');
      $(this).find('.jg-submit-button').first().removeAttr('disabled');
