---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes?created%5Bgte%5D=1460156400&created%5Blte%5D=1460329199&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "dp_17yRtw4uZwGGrGulT3uI4D14",
              "object": "dispute",
              "amount": 5000,
              "balance_transaction": "txn_17yRtw4uZwGGrGulWNV3Wk37",
              "balance_transactions": [
                {
                  "id": "txn_17yRtw4uZwGGrGulWNV3Wk37",
                  "object": "balance_transaction",
                  "amount": -3540,
                  "available_on": 1460764800,
                  "created": 1460230668,
                  "currency": "gbp",
                  "description": "Chargeback withdrawal for ch_17yRts4uZwGGrGulyMVldCQQ",
                  "fee": 1500,
                  "fee_details": [
                    {
                      "amount": 1500,
                      "application": null,
                      "currency": "gbp",
                      "description": "Dispute fee",
                      "type": "stripe_fee"
                    }
                  ],
                  "net": -5040,
                  "source": "ch_17yRts4uZwGGrGulyMVldCQQ",
                  "sourced_transfers": {
                    "object": "list",
                    "data": [],
                    "has_more": false,
                    "total_count": 0,
                    "url": "/v1/transfers?source_transaction=ad_17yRtw4uZwGGrGulnhil8RGG"
                  },
                  "status": "pending",
                  "type": "adjustment"
                }
              ],
              "charge": "ch_17yRts4uZwGGrGulyMVldCQQ",
              "created": 1460230668,
              "currency": "usd",
              "evidence": null,
              "is_charge_refundable": false,
              "livemode": false,
              "metadata": {},
              "reason": "general",
              "status": "needs_response",
              "evidence_due_by": 1461628799
            },
            {
              "id": "dp_17yRHu4uZwGGrGulIQbpxiii",
              "object": "dispute",
              "amount": 2500,
              "balance_transaction": "txn_17yRHu4uZwGGrGulbrkq1fq2",
              "balance_transactions": [
                {
                  "id": "txn_17yRHu4uZwGGrGulbrkq1fq2",
                  "object": "balance_transaction",
                  "amount": -1770,
                  "available_on": 1460764800,
                  "created":[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes/dp_17yRtw4uZwGGrGulT3uI4D14
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/disputes/dp_17yRHu4uZwGGrGulIQbpxiii
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
  [...]
[...]
- request:
    method: post
    uri: https://api.siftscience.com/v203/events
    body:
      encoding: UTF-8
      string: '{"$user_id":1425,"$transaction_id":"PR0000001","$chargeback_state":"$received","$chargeback_reason":"$other","$type":"$chargeback","$api_key":"<%=
        ENV[''SIFT_SCIENCE_API_KEY''] %>"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        { "status" : 0 , "error_message" : "OK" , "time" : 1463989927 , "request" : "{\"$user_id\":1425,\"$transaction_id\":\"PR0000001\",\"$chargeback_state\":\"$received\",\"$chargeback_reason\":\"$other\",\"$type\":\"$chargeback\",\"$api_key\":\"<%= ENV['SIFT_SCIENCE_API_KEY'] %>\"}"}
  recorded_at: Sun, 10 Apr 2016 09:00:00 GMT
- request:
    method: post
    uri: https://api.siftscience.com/v203/users/1425/labels
    body:
      encoding: UTF-8
      string: '{"$is_bad":<%= ENV[''ONAPP_API_ALLOW_INSECURE''] %>,"$reasons":["$chargeback"],"$description":"Received
        chargeback","$source":"payment_gateway","$type":"$label","$api_key":"<%= ENV[''SIFT_SCIENCE_API_KEY'']
        %>"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        { "time" : 1463989929 , "status" : 0 , "request" : "{\"$is_bad\":<%= ENV['ONAPP_API_ALLOW_INSECURE'] %>,\"$reasons\":[\"$chargeback\"],\"$description\":\"Received chargeback\",\"$source\":\"payment_gateway\",\"$type\":\"$label\",\"$api_key\":\"<%= ENV['SIFT_SCIENCE_API_KEY'] %>\"}" , "error_message" : "OK"}
  recorded_at: Sun, 10 Apr 2016 09:00:00 GMT
- request:
    method: get
    uri: https://<%= ENV['SIFT_SCIENCE_API_KEY'] %>:@api3.siftscience.com/v3/accounts/<%=
      ENV['SIFT_SCIENCE_ACCOUNT_ID'] %>/users/1425/devices
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"schema":"device.json","data":[],"has_more":false,"total_results":0}'
  recorded_at: Sun, 10 Apr 2016 09:00:00 GMT
[...]
- request:
    method: get
    uri: https://<%= ENV['SIFT_SCIENCE_API_KEY'] %>:@api3.siftscience.com/v3/accounts/<%=
      ENV['SIFT_SCIENCE_ACCOUNT_ID'] %>/users/1425/devices
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"schema":"device.json","data":[],"has_more":false,"total_results":0}'
  recorded_at: Sun, 10 Apr 2016 09:00:00 GMT
recorded_with: VCR 2.9.3
