- breadcrumb :new_server
- title "Create Server"

%section.container
  - if @wizard_object.step3?
    = render 'form'
  - else
    = render partial: 'servers/form'

:javascript
  ga('send', 'event', 'Page', 'View', "#{@event_name}");
