.jg-widget-content
  .jg-widget-header.pure-g.clearfix
    %h2.jg-icon.icon-cloud.pure-u Server Details
  .jg-widget-body
    .jg-widget-form.pure-u-1.clearfix
      .form-group.jg-inline.pure-u-1.pure-g
        .form-group.pure-u-md-1-2
          = f.label :name, {class: 'pure-u-1 jg-mandatory'}
          = f.text_field :name, class: 'form-control', value: (@server.name if @server)
        .form-group.pure-u-md-1-2{:class => ("hidden" if @server)}
          = f.label :hostname, {class: 'pure-u-1 jg-mandatory'}
          = f.text_field :hostname, class: 'form-control', value: (@server.hostname if @server)
