#install-notes.modal.input-form.fade{"aria-hidden" => "true", "aria-labelledby" => "install-notes-label", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#instal-notes-label.modal-title Install Notes

      .modal-body
