%table.ip-address-table.table.table-hover.jg-tables.pure-u-1.pure-u-md-1-2
  %thead.pure-u-1-1
    %tr.pure-u-1-1
      %td.pure-u-1-3 IP Address
      %td.pure-u-1-3 Network
      %td.pure-u-1-3 Status
  %tbody.pure-u-1-1
    %tr.pure-u-1-1{data: {"ng-repeat" => "ip in server.server_ip_addresses | orderBy: '-primary' | limitTo : 2"}}
      %td.pure-u-1-3= "{{ ip.address }}"
      %td.pure-u-1-3 eth0
      %td.pure-u-1-3
        %span.tags.primary{data: {"ng-if" => "ip.primary == true"}} Primary
    %tr.pure-u-1-1{data: {"ng-if" => "server.server_ip_addresses && server.server_ip_addresses.length === 0"}}
      %td.no-data{colspan: "3"}
    %tr.pure-u-1-1{data: {"ng-if" => "server.server_ip_addresses && server.server_ip_addresses.length > 2"}}
      %td.pure-u-1-3{colspan: "3"}= link_to "Show all", server_ip_addresses_path(@server)