- if @server
  %ul.jg-step-box.pure-g-r
    = render partial: "server_wizards/steps/helpers/location_summary"
- else
  .jg-widget-content
    .jg-widget-header.pure-g.clearfix
      %h2.jg-icon.icon-cloud.pure-u Select Location
    .jg-widget-body
      .jg-widget-form.pure-u-1.clearfix
        .form-group.jg-inline.pure-u-1.pure-g
          .form-group.pure-u-md-1-2
            = f.label :location_id, 'Location', {class: 'pure-u-1 jg-mandatory'}
            = f.select :location_id, option_groups_from_collection_for_select(@regions, :active_locations, :name, :id, :to_s, @wizard_object.location_id), include_blank: "Select a location"
      #jg-map
