- if @server
  %em.pure-u-1.alert.alert-warning.edit-server-warning
    %strong WARNING!
    %ul
      %li Decreasing disk size can lead to filesystem inconsistencies.
      %li You can not decrease disk size for Windows-based servers.
      %li Disk resizing is not supported at all on FreeBSD servers.
