---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=User%20ID%3A%201787&email=adriel_weimann%40parker.biz
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1426524990,
          "id": "cus_5sn6oPwMPJhBGs",
          "livemode": false,
          "description": "User ID: 1787",
          "email": "adriel_weimann@parker.biz",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5sn6oPwMPJhBGs/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5sn6oPwMPJhBGs/cards",
            "data": []
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5sn6oPwMPJhBGs/sources",
            "data": []
          },
          "default_source": null
        }
  recorded_at: Mon, 16 Mar 2015 16:55:16 GMT
- request:
    method: post
    uri: https://<%= ENV['ONAPP_USER'] %>:<%= CGI.escape ENV['ONAPP_PASS'] %>@<%=
      extract_domain ENV['ONAPP_CP'] %>/users.json?user%5Bemail%5D=auto_rspec_user@onapp.com&user%5Blogin%5D=auto_rspec_user&user%5Bpassword%5D=Abcdef123456!&user%5Brole_ids%5D%5B0%5D=2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - '"ec8d81cfb461068a55a19b6cef22baf3"'
      Location:
      - https://<%= extract_domain ENV['ONAPP_CP'] %>/users/9
      Status:
      - 201 Created
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"user":{"activated_at":"2015-03-16T16:56:31+00:00","avatar":null,"billing_plan_id":1,"cdn_account_status":"ACTIVE","cdn_status":"INACTIVE","created_at":"2015-03-16T16:56:31+00:00","deleted_at":null,"email":"auto_rspec_user@onapp.com","firewall_id":null,"first_name":"","group_id":null,"id":9,"image_template_group_id":null,"infoboxes":{"display_infoboxes":true,"hidden_infoboxes":[]},"last_name":"","locale":"en","login":"auto_rspec_user","password_changed_at":"2015-03-16T16:56:31+00:00","status":"active","supplied":false,"suspend_at":null,"time_zone":null,"total_amount":0.0,"updated_at":"2015-03-16T16:56:31+00:00","use_gravatar":null,"user_group_id":null,"outstanding_amount":0.0,"payment_amount":"0.0","roles":[{"role":{"created_at":"2015-03-12T13:24:37+00:00","id":2,"identifier":"user","label":"User","updated_at":"2015-03-12T13:24:37+00:00","permissions":[{"permission":{"created_at":"2015-03-12T13:24:37+00:00","id":7,"identifier":"activity_logs.read.own","label":"See
        details of own activity log","updated_at":"2015-03-12T13:24:37+00:00"}},{"permission":{"created_at":"2015-03-12T13:24:38+00:00","id":32,"identifier":"backups.convert.own","label":"Convert
        own backup to template","updated_at":"2015-03-12T13:24:38+00:00"}},{"permission":{"created_at":"2015-03-12T13:24:38+00:00","id":34,"identifier":"backups.create.own","label":"Create
        an own [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5sn6oPwMPJhBGs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_5sn6oPwMPJhBGs/cards
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=06&card[exp_year]=15&card[cvc]=424
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_15h1W14uZwGGrGulDyrSLtVv",
          "object": "card",
          "last4": "4242",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 6,
          "exp_year": 2015,
          "fingerprint": "rvIZI9IDHOATwHKP",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": "pass",
          "address_line1_check": null,
          "address_zip_check": null,
          "dynamic_last4": null,
          "metadata": {},
          "customer": "cus_5sn6oPwMPJhBGs"
        }
  recorded_at: Mon, 16 Mar 2015 16:55:19 GMT
[...]
- request:
    method: post
    uri: https://<%= CGI.escape ENV['AGILECRM_EMAIL'] %>:<%= ENV['AGILECRM_API_KEY']
      %>@<%= ENV['AGILECRM_DOMAIN'] %>.agilecrm.com/dev/api/contacts
    body:
      encoding: UTF-8
      string: '{"properties":[{"type":"SYSTEM","name":"first_name","value":"Wilber"},{"type":"SYSTEM","name":"last_name","value":"Fahey"},{"type":"SYSTEM","name":"email","value":"cecile@herzogreynolds.biz"},{"type":"CUSTOM","name":"CloudnetID","value":17711},{"type":"CUSTOM","name":"StripeID","value":"cus_5sn6oPwMPJhBGs"},{"type":"CUSTOM","name":"EmailVerified","value":false}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":"5686812383117312","type":"PERSON","created_time":1449777797,"updated_time":0,"last_contacted":0,"last_emailed":0,"last_campaign_emaild":0,"last_called":0,"viewed_time":0,"viewed":{"viewed_time":0},"star_value":0,"lead_score":0,"tags":[],"tagsWithTime":[],"properties":[{"type":"SYSTEM","name":"first_name","value":"Wilber"},{"type":"SYSTEM","name":"last_name","value":"Fahey"},{"type":"SYSTEM","name":"email","value":"cecile@herzogreynolds.biz"},{"type":"CUSTOM","name":"CloudnetID","value":"17711"},{"type":"CUSTOM","name":"StripeID","value":"cus_5sn6oPwMPJhBGs"},{"type":"CUSTOM","name":"EmailVerified","value":"false"}],"campaignStatus":[],"entity_type":"contact_entity","unsubscribeStatus":[],"emailBounceStatus":[],"formId":0,"owner":{"id":6668978039029760,"domain":"<%= ENV['AGILECRM_DOMAIN'] %>","email":"<%= ENV['AGILECRM_EMAIL'] %>","referer":{"referral_count":0},"is_admin":true,"is_account_owner":true,"is_disabled":false,"is_send_password":false,"scopes":["ADD_NEW_TAG","EXPORT_CONTACTS","UPDATE_CONTACT","CREATE_CONTACT","IMPORT_CONTACTS","VIEW_CONTACTS","DELETE_CONTACTS"],"newscopes":["ADD_NEW_TAG","EXPORT_CONTACTS","UPDATE_CONTACT","CREATE_CONTACT","IMPORT_CONTACTS","VIEW_CONTACTS","DELETE_CONTACTS"],"newMenuScopes":["CONTACT","CALENDAR","DEALS","CAMPAIGN","CASES","SOCIAL","WEBRULE","DOCUMENT","ACTIVITY","REPORT"],"menu_scopes":["CONTACT","CALENDAR","DEALS","CAMPAIGN","CASES","SOCIAL","WEBRULE","DOCUMENT","ACTIVITY","REPORT"],"restricted_menu_scopes":[],"name":"Bernino","password":"PASSWORD","info_json_string":"{\"lat_long\":\"51.508515,-0.125487\",\"ip_address\":\"\",\"last_logged_in_time\":\"1449775526\",\"logged_in_time\":1449777290,\"created_time\":1440157244,\"city\":\"london\",\"country\":\"GB\"}","schedule_id":"bernino","meeting_types":"In Person, Phone, Skype, Google Hangouts","business_hours":"[{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":false,\"timeTill\":null,\"timeFrom\":null},{\"isActive\":false,\"timeTill\":null,\"timeFrom\":null}]","meeting_durations":"{\"15mins\":\"say hi\",\"30mins\":\"let''s keep it short\",\"60mins\":\"let''s chat\"}","calendar_url":"https://<%= ENV['AGILECRM_DOMAIN'] %>.agilecrm.com/calendar/bernino","is_forms_updated":true,"defaultBusinessHours":"[{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":false,\"timeTill\":null,\"timeFrom\":null},{\"isActive\":false,\"timeTill\":null,\"timeFrom\":null}]","ownerPic":"https://d1gwclp1pmzk26.cloudfront.net/img/gravatar/62.png","createdTime":1440157244,"hashedString":"8258932b87df9d7f6bbac2cc29d6c17f","calendarURL":"https://<%= ENV['AGILECRM_DOMAIN'] %>.agilecrm.com/calendar/bernino"}}'
  recorded_at: Thu, 10 Dec 2015 20:03:18 GMT
recorded_with: VCR 2.9.3
