#footer
  .container
    .pure-g
      .pure-u-1-6
        %ul.list-unstyled
          %li Cloud.net
          %li Features
          %li Account Login
      .pure-u-1-6
        %ul.list-unstyled
          %li Company
          %li About Us
          %li Blog
          %li Careers
      .pure-u-1-6
        %ul.list-unstyled
          %li Support
          %li Help Center
          %li Contact Us
      .pure-u-1-2
        .pull-right
          =image_tag 'cloudnet-small-grey.png'
          %p Copyright ©2015 Cloud.net Ltd.
          Terms of Service | Privacy
          =image_tag 'social-icons.png'