#order-progress
  .container
    .pure-g
      .pure-u-1-4
        .step
          Build Server
      .pure-u-1-4
        .step
          Account
      .pure-u-1-4
        .step
          Server Details
      .pure-u-1-4
        .step
          Billing & Payment