#main-menu.pure-g
  %header.pure-u-1-1
    %nav.navbar.navbar-default.navbar-static-top{role: "navigation"}
      .container-fluid
        %ul.jg-color-row
          %li
          %li
          %li
          %li
          %li
      .container
        .navbar-header
          = link_to 'Cloud.net', root_path, {class: 'navbar-brand', id: 'logo'}
        %ul.nav.navbar-nav.list-unstyled
          %li
            =link_to t('menu.market'), search_path
          %li
            =link_to t('menu.features'), public_features_path
          %li
            =link_to t('menu.blog'), "http://blog.cloud.net/", target: "_blank"
          %li
            =link_to t('menu.faq'), 'http://feedback.cloud.net/knowledge-base', target: "_blank"
          %li
            =link_to t('menu.contact'), public_contact_path
        %a.btn.navbar-btn.navbar-right{type: "button",
                href: new_user_registration_path}= t('menu.sign_up')
        %a.btn.navbar-btn.navbar-right{type: "button",
                href: new_user_session_path}= t('menu.login')