@import "../base";

$r: 2px;
.btn-group {
  .dropdown-toggle {
    padding: 5px 10px 4px;
    line-height: $fourteen;
    @include border-radius(3px);
    position: relative;
    span {
      color: #8a8d98;
    }
    span.icon-arrow-down {
      position: relative;
      top: 1px;
    }
    &:active {
      
    }
  }
  &.open {
    .dropdown-toggle {
      @include box-shadow(inset 0 1px 1px rgba(33,18,17,.15));
      span {
        color: $jg-blue;
      }
    }
  }
}

.jg-dropmenu.dropdown-menu, #hiddenNav > * > ul {
  border:         1px solid;
  border-color:   #d2d4da #d2d4da #bfc2d2 #d2d4da;

  z-index:        99999999;
  padding:        0;

  @include border-radius($r);
  @include box-shadow( 0 1px 1px rgba(0, 0, 0, .1));
  font-size: 16px;


  > li {
    margin: 0;

    &:first-child {
      @include border-radius($r $r 0 0);
      a {
        @include border-radius($r $r 0 0);
      }
    }

    &:last-child {
      @include border-radius(0 0 $r $r);
      a {
        @include border-radius(0 0 $r $r);
      }
    }

    > a {
      font-size: $thirteen;
      display: block;
      padding: 12px 14px;
      border-bottom:    1px solid $jg-border-default;
      color:    #8a8d98;
      &:hover {
        color:          white;
        background:     #3875d7;
        border-color:   $jg-border-blue;
      }
    }
  }

}