<p>Hello <%= @user.full_name %>!</p>

<p>You are getting this message because one or more of your servers has been placed under validation. This could be because there is a problem with your payment method. Please be assured that we have been notified on this. Our support team will review your account and reply to you shortly.</p>

<p>The following servers has been shutdown and placed under validation:</p>

<% @servers.each do |server| %>
  <p>Server: <%= link_to server.name, server_url(server) %></p>
<% end %>

<p>Hang on there! Once your account has been reviewed, your servers will be booted and ready to go in no time!</p>
    
<p>Thanks,</p>

<p><%= ENV['BRAND_NAME'] %> Team</p>
