<p>Hello <%= @user.full_name %>!</p>

<p>You are getting this message because a server that you created is taking a bit more time than usual than it takes to build a server. Please be assured that we have been notified on this and an engineer will be assigned on high priority.</p>

<p>Server: <%= link_to @server.name, server_url(@server) %></p>

<p>Hang on there! You will hear back from us, once your server is built and ready to go!</p>
    
<p>Thanks,</p>

<p><%= ENV['BRAND_NAME'] %> Team</p>
