.input-group
  - disabled = current_user.phone_verified? ? 'disabled' : nil
  = text_field_tag 'user_phone_number', current_user.phone_number, {class: 'pure-u-1 form-control', placeholder: 'Enter phone number with country code', disabled: disabled}
  %span.input-group-btn
    - content = current_user.phone_verified? ? content_tag(:span, '', class: ['glyphicon', 'glyphicon-ok-sign', 'verified-glyph']) + content_tag(:span, ' Verified') : 'Verify'
    = button_tag content, {class: 'btn btn-default btn-verify', id: 'verify-phone-button', disabled: disabled}
