---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=User+ID%3A+3043&email=kellen%40veum.net
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8TU4dxHXsazlG5",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "cards": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8TU4dxHXsazlG5/cards"
          },
          "created": 1463587239,
          "currency": null,
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": "User ID: 3043",
          "discount": null,
          "email": "kellen@veum.net",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8TU4dxHXsazlG5/sources"
          },
          "subscriptions": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8TU4dxHXsazlG5/subscriptions"
          }
        }
  recorded_at: Wed, 18 May 2016 16:00:39 GMT
- request:
    method: post
    uri: https://<%= ENV['ONAPP_USER'] %>:<%= CGI.escape ENV['ONAPP_PASS'] %>@<%= extract_domain ENV['ONAPP_CP'] %>/users.json?user%5Bemail%5D=auto_rspec_user@onapp.com&user%5Blogin%5D=auto_rspec_user&user%5Bpassword%5D=Abcdef123456!&user%5Brole_ids%5D%5B0%5D=2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - '"e0b7b808ac5390914fe7eacc48f53682"'
      Location:
      - https://<%= extract_domain ENV['ONAPP_CP'] %>/users/738
      Status:
      - 201 Created
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"user":{"activated_at":"2016-05-18T16:00:41+00:00","avatar":null,"billing_plan_id":1,"cdn_account_status":"ACTIVE","cdn_status":"INACTIVE","created_at":"2016-05-18T16:00:40+00:00","deleted_at":null,"email":"auto_rspec_user@onapp.com","firewall_id":null,"first_name":"","group_id":null,"id":738,"identifier":"sxw36uu0hqv5tw","image_template_group_id":null,"infoboxes":{"display_infoboxes":true,"hidden_infoboxes":[]},"last_name":"","locale":"en","login":"auto_rspec_user","password_changed_at":"2016-05-18T16:00:40+00:00","registered_yubikey":null,"status":"active","supplied":false,"suspend_at":null,"system_theme":null,"time_zone":null,"total_amount":0.0,"updated_at":"2016-05-18T16:00:41+00:00","use_gravatar":null,"user_group_id":null,"outstanding_amount":"0.0","payment_amount":"0.0","roles":[{"role":{"created_at":"2015-03-12T13:24:37+00:00","id":2,"identifier":"user","label":"User","updated_at":"2015-11-04T12:41:26+00:00","permissions":[{"permission":{"created_at":"2015-03-12T13:24:37+00:00","id":7,"identifier":"activity_logs.read.own","updated_at":"2015-03-12T13:24:37+00:00","label":"See
        all own Activity Logs"}},{"permission":{"created_at":"2015-03-12T13:24:38+00:00","id":32,"identifier":"backups.convert.own","updated_at":"2015-03-12T13:24:38+00:00","label":"Convert
        own backup to template"}},{"permission":{"created_at":"2015-03-12T13:24:38+00:00","id":34,"identifier":"backups.create.own","updated_at":"2015-03-12T13:24:38+00:[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8TU4dxHXsazlG5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8TU4dxHXsazlG5/cards
    body:
      encoding: US-ASCII
      string: card[cvc]=424&card[exp_month]=06&card[exp_year]=17&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_18CX6G2mXYoFp2cEiN6005JU",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_8TU4dxHXsazlG5",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 6,
          "exp_year": 2017,
          "fingerprint": "s725M79uVYg1ZNB7",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null,
          "type": "Visa"
        }
  recorded_at: Wed, 18 May 2016 16:00:45 GMT
- request:
    method: post
    uri: https://auto_rspec_user:Abcdef123456%21@<%= extract_domain ENV['ONAPP_CP'] %>/dns_zones.json?dns_zone%5Bauto_populate%5D=1&dns_zone%5Bname%5D=cloudnetrspec2.com
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - '"59c6cc7843389457007af2e033769410"'
      Location:
      - "/dns_zones/6/records"
      Status:
      - 201 Created
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"dns_zone":{"created_at":"2016-05-18T16:00:49+00:00","id":6,"name":"cloudnetrspec2.com","updated_at":"2016-05-18T16:00:49+00:00","user_id":738,"cdn_reference":183251317}}'
  recorded_at: Wed, 18 May 2016 16:00:50 GMT
[...]
- request:
    method: delete
    uri: https://<%= ENV['ONAPP_USER'] %>:<%= CGI.escape ENV['ONAPP_PASS'] %>@<%= extract_domain ENV['ONAPP_CP'] %>/users/738.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Status:
      - 422 Unprocessable Entity
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"base":["Please wait while User transactions will be finished."]}}'
  recorded_at: Wed, 18 May 2016 16:00:55 GMT
[...]
- request:
    method: delete
    uri: https://<%= ENV['ONAPP_USER'] %>:<%= CGI.escape ENV['ONAPP_PASS'] %>@<%= extract_domain ENV['ONAPP_CP'] %>/users/2052.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 18 Oct 2016 09:08:06 GMT
recorded_with: VCR 2.9.3
