---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=User%20ID%3A%202043&email=leopold.wolf%40wiza.net
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1426525084,
          "id": "cus_5sn7X0nlNfY9jq",
          "livemode": false,
          "description": "User ID: 2043",
          "email": "leopold.wolf@wiza.net",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5sn7X0nlNfY9jq/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5sn7X0nlNfY9jq/cards",
            "data": []
          },
          "default_card": null,
          "sources": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5sn7X0nlNfY9jq/sources",
            "data": []
          },
          "default_source": null
        }
  recorded_at: Mon, 16 Mar 2015 16:56:50 GMT
- request:
    method: post
    uri: https://<%= ENV['ONAPP_USER'] %>:<%= CGI.escape ENV['ONAPP_PASS'] %>@<%=
      extract_domain ENV['ONAPP_CP'] %>/users.json?user%5Bemail%5D=auto_rspec_user@onapp.com&user%5Blogin%5D=auto_rspec_user&user%5Bpassword%5D=Abcdef123456!&user%5Brole_ids%5D%5B0%5D=2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - '"1e4cf9b6283708ae40e1f9ca402756ea"'
      Location:
      - https://<%= extract_domain ENV['ONAPP_CP'] %>/users/10
      Status:
      - 201 Created
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"user":{"activated_at":"2015-03-16T16:58:04+00:00","avatar":null,"billing_plan_id":1,"cdn_account_status":"ACTIVE","cdn_status":"INACTIVE","created_at":"2015-03-16T16:58:04+00:00","deleted_at":null,"email":"auto_rspec_user@onapp.com","firewall_id":null,"first_name":"","group_id":null,"id":10,"image_template_group_id":null,"infoboxes":{"display_infoboxes":true,"hidden_infoboxes":[]},"last_name":"","locale":"en","login":"auto_rspec_user","password_changed_at":"2015-03-16T16:58:04+00:00","status":"active","supplied":false,"suspend_at":null,"time_zone":null,"total_amount":0.0,"updated_at":"2015-03-16T16:58:04+00:00","use_gravatar":null,"user_group_id":null,"outstanding_amount":0.0,"payment_amount":"0.0","roles":[{"role":{"created_at":"2015-03-12T13:24:37+00:00","id":2,"identifier":"user","label":"User","updated_at":"2015-03-12T13:24:37+00:00","permissions":[{"permission":{"created_at":"2015-03-12T13:24:37+00:00","id":7,"identifier":"activity_logs.read.own","label":"See
        details of own activity log","updated_at":"2015-03-12T13:24:37+00:00"}},{"permission":{"created_at":"2015-03-12T13:24:38+00:00","id":32,"identifier":"backups.convert.own","label":"Convert
        own backup to template","updated_at":"2015-03-12T13:24:38+00:00"}},{"permission":{"created_at":"2015-03-12T13:24:38+00:00","id":34,"identifier":"backups.create.own","label":"Create
        an own [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5sn7X0nlNfY9jq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_5sn7X0nlNfY9jq/cards
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=06&card[exp_year]=15&card[cvc]=424
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_15h1XW4uZwGGrGulDtVArPYW",
          "object": "card",
          "last4": "4242",
          "brand": "Visa",
          "funding": "credit",
          "exp_month": 6,
          "exp_year": 2015,
          "fingerprint": "rvIZI9IDHOATwHKP",
          "country": "US",
          "name": null,
          "address_line1": null,
          "address_line2": null,
          "address_city": null,
          "address_state": null,
          "address_zip": null,
          "address_country": null,
          "cvc_check": "pass",
          "address_line1_check": null,
          "address_zip_check": null,
          "dynamic_last4": null,
          "metadata": {},
          "customer": "cus_5sn7X0nlNfY9jq"
        }
  recorded_at: Mon, 16 Mar 2015 16:56:52 GMT
- request:
    method: post
    uri: https://auto_rspec_user:Abcdef123456%21@<%= extract_domain ENV['ONAPP_CP']
      %>/dns_zones.json?dns_zone%5Bauto_populate%5D=1&dns_zone%5Bname%5D=cloudnetrspec2.com
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - '"5519528f8a16b315cecba7f71024dc37"'
      Location:
      - "/dns_zones/5/records"
      Status:
      - 201 Created
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"dns_zone":{"created_at":"2015-03-16T16:58:08+00:00","id":5,"name":"cloudnetrspec2.com","updated_at":"2015-03-16T16:58:08+00:00","user_id":10,"cdn_reference":157662818}}'
  recorded_at: Mon, 16 Mar 2015 16:56:53 GMT
- request:
    method: post
    uri: https://auto_rspec_user:Abcdef123456%21@<%= extract_domain ENV['ONAPP_CP']
      %>/dns_zones/5/records.json?dns_record%5Bip%5D=1.2.3.4&dns_record%5Bname%5D=rspec&dns_record%5Bttl%5D=360&dns_record%5Btype%5D=a
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - '"8cfda8f185c433d956a8a2bbbff620dc"'
      Location:
      - "/dns_zones/5/records"
      Status:
      - 201 Created
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"dns_record":{"id":1073832,"ip":"1.2.3.4","name":"rspec","ttl":"360","type":"A"}}'
  recorded_at: Mon, 16 Mar 2015 16:56:54 GMT
- request:
    method: get
    uri: https://auto_rspec_user:Abcdef123456%21@<%= extract_domain ENV['ONAPP_CP']
      %>/dns_zones/5/records.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"814935bbd75b782e6fa5fd7efb0828ca"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"dns_zone":{"created_at":"2015-03-16T16:58:08+00:00","id":5,"name":"cloudnetrspec2.com","updated_at":"2015-03-16T16:58:08+00:00","user_id":10,"records":{"SOA":[{"dns_record":{"expire":1209600,"hostmaster":"auto_rspec_user@onapp.com","id":1073830,"minimum":1200,"name":"@","primaryNs":"ns1.cloudnetdns.net","refresh":1200,"retry":180,"serial":2,"ttl":86400,"type":"SOA"}}],"NS":[{"dns_record":{"hostname":"ns1.cloudnetdns.net","id":1073822,"name":"@","ttl":86400,"type":"NS"}},{"dns_record":{"hostname":"ns2.cloudnetdns.net","id":1073824,"name":"@","ttl":86400,"type":"NS"}},{"dns_record":{"hostname":"ns3.cloudnetdns.net","id":1073826,"name":"@","ttl":86400,"type":"NS"}},{"dns_record":{"hostname":"ns4.cloudnetdns.net","id":1073828,"name":"@","ttl":86400,"type":"NS"}}],"A":[{"dns_record":{"id":1073832,"ip":"1.2.3.4","name":"rspec","ttl":360,"type":"A"}}]},"cdn_reference":157662818}}'
  recorded_at: Mon, 16 Mar 2015 16:56:55 GMT
[...]
- request:
    method: delete
    uri: https://<%= ENV['ONAPP_USER'] %>:<%= CGI.escape ENV['ONAPP_PASS'] %>@<%=
      extract_domain ENV['ONAPP_CP'] %>/users/10.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Status:
      - 422 Unprocessable Entity
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"base":["Please wait while User transactions will be finished."]}}'
  recorded_at: Mon, 16 Mar 2015 16:56:55 GMT
[...]
- request:
    method: post
    uri: https://<%= CGI.escape ENV['AGILECRM_EMAIL'] %>:<%= ENV['AGILECRM_API_KEY']
      %>@<%= ENV['AGILECRM_DOMAIN'] %>.agilecrm.com/dev/api/contacts
    body:
      encoding: UTF-8
      string: '{"properties":[{"type":"SYSTEM","name":"first_name","value":"Rhianna"},{"type":"SYSTEM","name":"last_name","value":"Brekke"},{"type":"SYSTEM","name":"email","value":"elyse@jones.biz"},{"type":"CUSTOM","name":"CloudnetID","value":17530},{"type":"CUSTOM","name":"StripeID","value":"cus_5sn7X0nlNfY9jq"},{"type":"CUSTOM","name":"EmailVerified","value":false}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":5715683958587392,"type":"PERSON","created_time":1449777771,"updated_time":0,"last_contacted":0,"last_emailed":0,"last_campaign_emaild":0,"last_called":0,"viewed_time":0,"viewed":{"viewed_time":0},"star_value":0,"lead_score":0,"tags":[],"tagsWithTime":[],"properties":[{"type":"SYSTEM","name":"first_name","value":"Rhianna"},{"type":"SYSTEM","name":"last_name","value":"Brekke"},{"type":"SYSTEM","name":"email","value":"elyse@jones.biz"},{"type":"CUSTOM","name":"CloudnetID","value":"17530"},{"type":"CUSTOM","name":"StripeID","value":"cus_5sn7X0nlNfY9jq"},{"type":"CUSTOM","name":"EmailVerified","value":"false"}],"campaignStatus":[],"entity_type":"contact_entity","unsubscribeStatus":[],"emailBounceStatus":[],"formId":0,"owner":{"id":6668978039029760,"domain":"<%= ENV['AGILECRM_DOMAIN'] %>","email":"<%= ENV['AGILECRM_EMAIL'] %>","referer":{"referral_count":0},"is_admin":true,"is_account_owner":true,"is_disabled":false,"is_send_password":false,"scopes":["EXPORT_CONTACTS","VIEW_CONTACTS","UPDATE_CONTACT","CREATE_CONTACT","ADD_NEW_TAG","IMPORT_CONTACTS","DELETE_CONTACTS"],"newscopes":["EXPORT_CONTACTS","VIEW_CONTACTS","UPDATE_CONTACT","CREATE_CONTACT","ADD_NEW_TAG","IMPORT_CONTACTS","DELETE_CONTACTS"],"newMenuScopes":["CONTACT","CALENDAR","DEALS","CAMPAIGN","CASES","SOCIAL","WEBRULE","DOCUMENT","ACTIVITY","REPORT"],"menu_scopes":["CONTACT","CALENDAR","DEALS","CAMPAIGN","CASES","SOCIAL","WEBRULE","DOCUMENT","ACTIVITY","REPORT"],"restricted_menu_scopes":[],"name":"Bernino","password":"PASSWORD","info_json_string":"{\"lat_long\":\"51.508515,-0.125487\",\"ip_address\":\"\",\"last_logged_in_time\":\"1449775526\",\"logged_in_time\":1449777290,\"created_time\":1440157244,\"city\":\"london\",\"country\":\"GB\"}","schedule_id":"bernino","meeting_types":"In Person, Phone, Skype, Google Hangouts","business_hours":"[{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":false,\"timeTill\":null,\"timeFrom\":null},{\"isActive\":false,\"timeTill\":null,\"timeFrom\":null}]","meeting_durations":"{\"15mins\":\"say hi\",\"30mins\":\"let''s keep it short\",\"60mins\":\"let''s chat\"}","calendar_url":"https://<%= ENV['AGILECRM_DOMAIN'] %>.agilecrm.com/calendar/bernino","is_forms_updated":true,"calendarURL":"https://<%= ENV['AGILECRM_DOMAIN'] %>.agilecrm.com/calendar/bernino","ownerPic":"https://d1gwclp1pmzk26.cloudfront.net/img/gravatar/62.png","createdTime":1440157244,"defaultBusinessHours":"[{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":true,\"timeTill\":\"18:00\",\"timeFrom\":\"09:00\"},{\"isActive\":false,\"timeTill\":null,\"timeFrom\":null},{\"isActive\":false,\"timeTill\":null,\"timeFrom\":null}]","hashedString":"8258932b87df9d7f6bbac2cc29d6c17f"}}'
  recorded_at: Thu, 10 Dec 2015 20:02:52 GMT
recorded_with: VCR 2.9.3
