---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=User+ID%3A+3045&email=jabari_anderson%40runolfsdottir.net
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8TU57YNIkoqUUc",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "cards": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8TU57YNIkoqUUc/cards"
          },
          "created": 1463587292,
          "currency": null,
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": "User ID: 3045",
          "discount": null,
          "email": "jabari_anderson@runolfsdottir.net",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8TU57YNIkoqUUc/sources"
          },
          "subscriptions": {
            "object": "list",
            "count": 0,
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8TU57YNIkoqUUc/subscriptions"
          }
        }
  recorded_at: Wed, 18 May 2016 16:01:32 GMT
- request:
    method: post
    uri: https://<%= ENV['ONAPP_USER'] %>:<%= CGI.escape ENV['ONAPP_PASS'] %>@<%= extract_domain ENV['ONAPP_CP'] %>/users.json?user%5Bemail%5D=auto_rspec_user@onapp.com&user%5Blogin%5D=auto_rspec_user&user%5Bpassword%5D=Abcdef123456!&user%5Brole_ids%5D%5B0%5D=2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - '"e9d8278a9c1401775c9a608838311dbf"'
      Location:
      - https://<%= extract_domain ENV['ONAPP_CP'] %>/users/739
      Status:
      - 201 Created
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"user":{"activated_at":"2016-05-18T16:01:36+00:00","avatar":null,"billing_plan_id":1,"cdn_account_status":"ACTIVE","cdn_status":"INACTIVE","created_at":"2016-05-18T16:01:35+00:00","deleted_at":null,"email":"auto_rspec_user@onapp.com","firewall_id":null,"first_name":"","group_id":null,"id":739,"identifier":"yzzohz7a05bqnc","image_template_group_id":null,"infoboxes":{"display_infoboxes":true,"hidden_infoboxes":[]},"last_name":"","locale":"en","login":"auto_rspec_user","password_changed_at":"2016-05-18T16:01:35+00:00","registered_yubikey":null,"status":"active","supplied":false,"suspend_at":null,"system_theme":null,"time_zone":null,"total_amount":0.0,"updated_at":"2016-05-18T16:01:36+00:00","use_gravatar":null,"user_group_id":null,"outstanding_amount":"0.0","payment_amount":"0.0","roles":[{"role":{"created_at":"2015-03-12T13:24:37+00:00","id":2,"identifier":"user","label":"User","updated_at":"2015-11-04T12:41:26+00:00","permissions":[{"permission":{"created_at":"2015-03-12T13:24:37+00:00","id":7,"identifier":"activity_logs.read.own","updated_at":"2015-03-12T13:24:37+00:00","label":"See
        all own Activity Logs"}},{"permission":{"created_at":"2015-03-12T13:24:38+00:00","id":32,"identifier":"backups.convert.own","updated_at":"2015-03-12T13:24:38+00:00","label":"Convert
        own backup to template"}},{"permission":{"created_at":"2015-03-12T13:24:38+00:00","id":34,"identifier":"backups.create.own","updated_at":"2015-03-12T13:24:38+00:[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8TU57YNIkoqUUc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8TU57YNIkoqUUc/cards
    body:
      encoding: US-ASCII
      string: card[cvc]=424&card[exp_month]=06&card[exp_year]=17&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer <%= ENV['STRIPE_API_KEY'] %>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-01-31'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "card_18CX782mXYoFp2cEtX9mAF4F",
          "object": "card",
          "address_city": null,
          "address_country": null,
          "address_line1": null,
          "address_line1_check": null,
          "address_line2": null,
          "address_state": null,
          "address_zip": null,
          "address_zip_check": null,
          "brand": "Visa",
          "country": "US",
          "customer": "cus_8TU57YNIkoqUUc",
          "cvc_check": "pass",
          "dynamic_last4": null,
          "exp_month": 6,
          "exp_year": 2017,
          "fingerprint": "s725M79uVYg1ZNB7",
          "funding": "credit",
          "last4": "4242",
          "metadata": {},
          "name": null,
          "tokenization_method": null,
          "type": "Visa"
        }
  recorded_at: Wed, 18 May 2016 16:01:38 GMT
- request:
    method: post
    uri: https://auto_rspec_user:Abcdef123456%21@<%= extract_domain ENV['ONAPP_CP'] %>/dns_zones.json?dns_zone%5Bauto_populate%5D=1&dns_zone%5Bname%5D=cloudnetrspec2.com
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - '"1c3f092f8c3695651062f293a7f2fb9c"'
      Location:
      - "/dns_zones/7/records"
      Status:
      - 201 Created
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"dns_zone":{"created_at":"2016-05-18T16:01:40+00:00","id":7,"name":"cloudnetrspec2.com","updated_at":"2016-05-18T16:01:40+00:00","user_id":739,"cdn_reference":337983145}}'
  recorded_at: Wed, 18 May 2016 16:01:40 GMT
- request:
    method: post
    uri: https://auto_rspec_user:Abcdef123456%21@<%= extract_domain ENV['ONAPP_CP'] %>/dns_zones/7/records.json?dns_record%5Bip%5D=1.2.3.4&dns_record%5Bname%5D=rspec&dns_record%5Bttl%5D=360&dns_record%5Btype%5D=a
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Etag:
      - '"bb34f3bfcedde4eef95e5c296433c42e"'
      Location:
      - "/dns_zones/7/records"
      Status:
      - 201 Created
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"dns_record":{"id":2063132,"ip":"1.2.3.4","name":"rspec","ttl":"360","type":"A"}}'
  recorded_at: Wed, 18 May 2016 16:01:40 GMT
- request:
    method: get
    uri: https://auto_rspec_user:Abcdef123456%21@<%= extract_domain ENV['ONAPP_CP'] %>/dns_zones/7/records.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e11e7762bc15fd866094f27a2f383c4b"'
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"dns_zone":{"created_at":"2016-05-18T16:01:40+00:00","id":7,"name":"cloudnetrspec2.com","updated_at":"2016-05-18T16:01:40+00:00","user_id":739,"records":{"SOA":[{"dns_record":{"expire":1209600,"hostmaster":"auto_rspec_user@onapp.com","id":2063129,"minimum":1200,"name":"@","primaryNs":"ns1.cloudnetdns.net","refresh":1200,"retry":180,"serial":2,"ttl":86400,"type":"SOA"}}],"NS":[{"dns_record":{"hostname":"ns1.cloudnetdns.net","id":2063117,"name":"@","ttl":86400,"type":"NS"}},{"dns_record":{"hostname":"ns2.cloudnetdns.net","id":2063120,"name":"@","ttl":86400,"type":"NS"}},{"dns_record":{"hostname":"ns3.cloudnetdns.net","id":2063123,"name":"@","ttl":86400,"type":"NS"}},{"dns_record":{"hostname":"ns4.cloudnetdns.net","id":2063126,"name":"@","ttl":86400,"type":"NS"}}],"A":[{"dns_record":{"id":2063132,"ip":"1.2.3.4","name":"rspec","ttl":360,"type":"A"}}]},"cdn_reference":337983145}}'
  recorded_at: Wed, 18 May 2016 16:01:41 GMT
[...]
- request:
    method: delete
    uri: https://<%= ENV['ONAPP_USER'] %>:<%= CGI.escape ENV['ONAPP_PASS'] %>@<%= extract_domain ENV['ONAPP_CP'] %>/users/739.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Status:
      - 422 Unprocessable Entity
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"base":["Please wait while User transactions will be finished."]}}'
  recorded_at: Wed, 18 May 2016 16:01:42 GMT
[...]
- request:
    method: delete
    uri: https://<%= ENV['ONAPP_USER'] %>:<%= CGI.escape ENV['ONAPP_PASS'] %>@<%= extract_domain ENV['ONAPP_CP'] %>/users/2053.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 18 Oct 2016 09:08:17 GMT
recorded_with: VCR 2.9.3
