.modal.input-form.fade{"aria-hidden" => "true", "aria-labelledby" => "restore-backup-label-#{backup.id}", role: "dialog", tabindex: "-1", id: "restore-backup-#{backup.id}" }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title{id: "restore-backup-label-#{backup.id}"} Restore Backup

      .modal-body
        .jg-widget-form.pure-g-r.clearfix
          %div
            %p The server will reboot during the process of restoring the backup.
            %p Please confirm you would like to continue.
      
        .modal-footer
          %button.btn.jg-back-button{"data-dismiss" => "modal"} Cancel
          = link_to "Restore Backup", restore_server_backup_path(@server.id, backup.id), method: :post, class: "btn jg-submit-button"