<p>
  Dear <%= @user.full_name %>,
</p>

<p>
  We have sent you already <%= @user.notif_delivered %> warning emails. However, your invoice is still not paid.
  All your servers have been destroyed automatically.
</p>

<p>
  Your Cloud.net account balance is currently negative by <%= @pretty_negative_balance %>.
</p>

<p>
  Please login to the control panel at <a href="https://www.cloud.net">https://www.cloud.net</a> and add new funds to your account before recreating servers.

  If you have any questions or need any help, please contact our support staff via the help-desk within the control panel.
</p>

<p>
  Thank you
  Cloud.net Team
</p>
