@import "partials/base";


$server-search-green: #90C24E;
$server-search-slider-disabled: #B8B8B8;
$server-search-chart-color: #34A5E6;
$server-search-selected-gray: #E2EAEF;
$server-search-text-gray: #5F8093;

.server_search-index{
  .font-11{font-size: $eleven;}
  .animate-repeat {
    list-style:none;
    box-sizing:border-box;
  }

  .location.ng-move,
  .location.ng-enter,
  .location.ng-leave.ng-leave-active,
  .location.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }

  .location.ng-leave.ng-leave-active,
  .location.ng-move,
  .location.ng-enter {
    opacity:0;
    line-height: 0;
  }

  .location.ng-leave,
  .location.ng-move.ng-move-active,
  .location.ng-enter.ng-enter-active {
    opacity:1;
  }
  .button-active, .btn-default.active {
    color: white;
    background: $server-search-green;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .filters{
    font-size: $twelve;
    @media (max-width: $container-med) {
      font-size: $eleven;
    }
    .default-borders{
      margin: 20px 0;
      padding: 0 25px;
      border: 1px solid $server-search-border;
      @media (max-width: $container-med) {
        padding: 0 15px;
      }
    }
    .cloud-builder{
      cloud-vps-switch{
        padding: 0px 0;
        .btn{
          width: 40%;
          margin: 4%;
        }
      }
      packages-table{
        table{ margin-top: 10px; }
        table tr:first-child{
          cursor: auto;
          &:hover{
            background: inherit;
            color: inherit;
          };
        }
        tr{
          cursor: pointer;
          th{border: none;}
          &:hover{ background: #EBE9EA; }
        }
        tr.activated{background: $server-search-green; color: white;}
      }
    }
    .filter-text-box{
      width: 3em;
      float: right;
      margin-left: 10px;
    }
    .slider-box{
      margin: 10px 0;
      .unit{float: right;}
    }
    .wizard-slider.noUi-horizontal.noUi-extended{
      padding-right: 14px;
      .noUi-handle{left: -18px;}
      .noUi-origin{right: -14px;}
    }
    .wizard-slider.noUi-connect{
      background: $server-search-green;
      border:     1px solid #D3D3D3;
      top: -2px;
    }
    .wizard-slider[disabled].noUi-connect{background: $server-search-slider-disabled;}
  }
  
  .map-search{position: relative;}
  map-widget{
    height: 300px;
    margin: 20px 0;
    border: 1px solid black;
    display: block;

  }
  .results-with-map{
    overflow: auto;
    height: 421px;
    position: relative;
  }
  .results{
    font-size: $thirteen;
    margin: 20px 0 0 10px;
    padding: 15px;
    border: 1px solid $server-search-border;
    background-color: white;
    .filters{
      label{padding: 3px; font-size: 1.15em;}
      span{
        font-size: 1.05em;
        position: relative;
        top: 6px;
      }
    }
    .locations-container{
      padding-top: 5px;
      font-size: 0.95em;
      .location{
        border: 1px solid $server-search-border;
        margin: 3px 0;
        padding: 15px 15px 5px 15px;
        @media (max-width: $container-med) {
          padding: 15px 15px 5px 5px;
        }
        &:hover{background-color: #F8F8F8 }
        .flag{margin: -8px 10px 0 0;}
        .location-tags{margin-left: 10px;}
        .square-label{
          padding: 2px 5px;
          background-color: $server-search-selected-gray;
          color: $server-search-text-gray;
          font-weight: bold;
        }
        .provider{
          margin: 0 0 5px -12px;
        }
        .labelg {
          margin: 5px 0 0 17px;
          @media (max-width: $container-med) {
            margin: 5px 0 0 12px;
          }
        }
        .parameters{
          padding: 0 10px 0 0;
          margin: 0 10px 0 10px;
          table{ 
            margin: 0;
            border-collapse: separate;
            border-spacing: 0 5px;
           }
          tr td:first-child{
            border-left: 1px solid $server-search-border;
            width: 10%;
            padding-left: 3px;
            padding-right: 3px;
            @media (max-width: $container-med) {
              display: none;
            }
          }
          tr td:last-child{
            border-right: 1px solid $server-search-border;
            border-left: none;
            font-size: 0.88em;
            font-weight: bold;
          }
          td{
            border-top: 1px solid $server-search-border;
            border-bottom: 1px solid $server-search-border;
            padding: 5px 0 5px 0;
            vertical-align: bottom;
            @media (max-width: $container-med) {
              border-left: 1px solid $server-search-border;
              padding: 5px 0 5px 3px;
            }
          }
        }
        .action .price-box:first-child{
          margin-right: 15px;
        };
        .action{
          margin: 5px -12px 0 -12px;
          text-align: center;
          .price-box{
            margin-top: 10px;
            display: inline-block;
            color: #777;
            font-size: 1em;
          }          
          .price-value{
            font-size: 1.2em;
            font-weight: bold;
            @media (max-width: $container-med) {
              font-size: 1em;
            }
          }
          button{
            width: 100%;
            top: 19px;
            position: relative;
            background-color: $server-search-green ;
            border-color: $server-search-border;
          }
        }
        .uptime-chart{
          height: 105px;
          fill: #F5D670;
          
          text{
            font-size: 0.08em;
            fill: $server-search-text-gray;
          }
          text.number{
            font-size: 0.14em;
            font-weight: bold;
          }
        }
        .cloud-index-graph{
          position: relative;
          margin: 5px 0 2px 0;
          .border{
            border: 1px solid $server-search-border;
            border-left: none;
            position: absolute;
            left: 17px;
            right: 0px;
            top: 0;
            bottom: 0;
          }
          path.line{
            fill: none; 
            stroke: $server-search-chart-color; 
            stroke-width: 1px;
          }
  
          .axis path{ 
            fill: none;
            stroke: $server-search-border; 
          }
          .axis text{ 
            font-size: 6pt;
            font-family: sans-serif; 
          }
  
          circle{ 
            stroke: black;
            stroke-width: 0.5px; 
            fill: RoyalBlue; 
            opacity:0.6;
          }
        }
      }
    }
  }
}