@import "partials/base";


$server-search-green: #90C24E;
$server-search-slider-disabled: #B8B8B8;
$server-search-chart-color: #34A5E6;
$server-search-selected-gray: #E2EAEF;
$server-search-text-gray: #5F8093;

.server_search-index{
  .results{
    .location{
      border: 1px solid $server-search-border;
      margin: 3px 0;
      padding: 15px 15px 5px 15px;
      @media (max-width: $container-med) {
        padding: 15px 15px 5px 5px;
      }
      &:hover{background-color: #F8F8F8 }
      .flag{margin: -8px 10px 0 0;}
      .location-tags{margin-left: 10px;}
      .square-label{
        padding: 2px 5px;
        background-color: $server-search-selected-gray;
        color: $server-search-text-gray;
        font-weight: bold;
      }
      .provider{
        margin: 0 0 5px -12px;
      }
      .labelg.uptime{
        margin: 0;
        text-align: center;
      }
      .labelg {
        margin: 5px 0 0 17px;
        a {text-decoration: none;}
        @media (max-width: $container-med) {
          margin: 5px 0 0 12px;
        }
      }
      .parameters{
        padding: 0 10px 0 0;
        margin: 0 10px 0 10px;
        table{ 
          margin: 0;
          border-collapse: separate;
          border-spacing: 0 3px;
         }
        tr td:first-child{
          border-left: 1px solid $server-search-border;
          width: 10%;
          padding-left: 3px;
          padding-right: 3px;
          @media (max-width: $container-med) {
            display: none;
          }
        }
        tr td:last-child{
          border-right: 1px solid $server-search-border;
          border-left: none;
          font-size: 0.88em;
          font-weight: bold;
        }
        td{
          border-top: 1px solid $server-search-border;
          border-bottom: 1px solid $server-search-border;
          padding: 3px 0 4px 0;
          vertical-align: bottom;
          @media (max-width: $container-med) {
            border-left: 1px solid $server-search-border;
            padding: 3px 0 4px 3px;
          }
        }
      }
      .action .price-box:first-child{
        margin-right: 15px;
      };
      .action{
        margin: 5px -12px 0 -12px;
        text-align: center;
        .price-box{
          margin-top: 10px;
          display: inline-block;
          color: #777;
          font-size: 1em;
        }          
        .price-value{
          font-size: 1.2em;
          font-weight: bold;
          @media (max-width: $container-med) {
            font-size: 1em;
          }
        }
        button{
          width: 100%;
          top: 36px;
          position: relative;
          background-color: $server-search-green ;
          border-color: $server-search-border;
        }
      }
      .uptime-chart{
        height: 100px;
        fill: #F5D670;
        
        text{
          font-size: 0.08em;
          fill: $server-search-text-gray;
        }
        text.number{
          font-size: 0.14em;
          font-weight: bold;
        }
      }

      .cloud-index-graph, 
      .uptime-time-chart
      {
        height: 90px;
        position: relative;
        margin: 5px 0 2px 0;
        .border{
          border: 1px solid $server-search-border;
          border-left: none;
          position: absolute;
          left: 17px;
          right: 0px;
          top: 0;
          bottom: 0;
        }
        path.line{
          fill: none; 
          stroke: $server-search-chart-color; 
          stroke-width: 0.8px;
        }
        path.area{
          fill: lightsteelblue;
          stroke-width: 0;
          opacity: 0.6;
        }
        .axis {
          path{ 
            fill: none;
            stroke: $server-search-border;
          }
          &.x path {stroke-width: 0.5;}
            
          text { 
            font-size: 6pt;
            font-family: sans-serif; 
          }
        }
       

        circle{ 
          stroke: black;
          stroke-width: 0.5px; 
          fill: RoyalBlue; 
          opacity:1;
          &:hover{fill: darkorange !important; stroke: darkorange;};
        }
      }
      
      .uptime-time-chart{
        height: 100%;
        margin-top: 40px;
        .axis text{font-size: 4pt;}
      }
      .uptime-label{text-align: center;}
    }
  }
  
  .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 12px;
    pointer-events: none;
    border: none;
    h2{
      display: inline-block;
      font-weight: 300;
      font-size: 0.8em;
      margin: 0;
    }
    h3{
      font-weight: 300;
      font-size: 0.8em;
      font-style: italic;
      margin: 15px 0 2px;
    }
    .cloud-index{
      display: inline-block;
      line-height: 0.5;
      margin-left: 45px;
      font-size: 2.2em;
      font-weight: 300;
    }
    td{
      padding: 5px 5px 0 0;
      font-size: 0.7em;
      font-weight: 300;
      &.bandwidth{padding-left: 30px;}
    }
    &:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      position: absolute;
      pointer-events: none;
    }
  }
  additional-info{
    .trigger{
      font-size: 0.8em;
      padding: 1px 3px;
      margin-top: 5px;
    }
    .info-part{
      .summary{margin-right: 20px;}
      .c-avatar{
        float: left;
        width: 64px;
        height: 64px;
        margin: 10px;
      }
      .location-map{
        height: 150px;
        margin-top: 50px;
      }
    }
  }
}