@import "partials/base";


$server-search-green: #90C24E;
$server-search-slider-disabled: #B8B8B8;
$server-search-chart-color: #34A5E6;
$server-search-selected-gray: #E2EAEF;
$server-search-text-gray: #5F8093;

.server_search-index{
  .font-11{font-size: $eleven;}
  .animate-repeat {
    list-style:none;
    box-sizing:border-box;
  }

  .location.ng-move,
  .location.ng-enter,
  .location.ng-leave.ng-leave-active,
  .location.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }

  .location.ng-leave.ng-leave-active,
  .location.ng-move,
  .location.ng-enter {
    opacity:0;
    line-height: 0;
  }

  .location.ng-leave,
  .location.ng-move.ng-move-active,
  .location.ng-enter.ng-enter-active {
    opacity:1;
  }
  .button-active, .btn-default.active {
    color: white;
    background: $server-search-green;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .filters{
    font-size: $twelve;
    @media (max-width: $container-med) {
      font-size: $eleven;
    }
    .default-borders{
      margin: 20px 0;
      padding: 0 25px;
      border: 1px solid $server-search-border;
      @media (max-width: $container-med) {
        padding: 0 15px;
      }
    }
    .cloud-builder{
      cloud-vps-switch{
        padding: 0px 0;
        .btn{
          width: 40%;
          margin: 4%;
        }
      }
      packages-table{
        table{ margin-top: 10px; }
        table tr:first-child{
          cursor: auto;
          &:hover{
            background: inherit;
            color: inherit;
          };
        }
        tr{
          cursor: pointer;
          th{border: none;}
          &:hover{ background: #EBE9EA; }
        }
        tr.activated{background: $server-search-green; color: white;}
      }
    }
    .filter-text-box{
      width: 3em;
      float: right;
      margin-left: 10px;
    }
    .slider-box{
      margin: 10px 0;
      .unit{float: right;}
    }
    .wizard-slider.noUi-horizontal.noUi-extended{
      padding-right: 14px;
      .noUi-handle{left: -18px;}
      .noUi-origin{right: -14px;}
    }
    .wizard-slider.noUi-connect{
      background: $server-search-green;
      border:     1px solid #D3D3D3;
      top: -2px;
    }
    .wizard-slider[disabled].noUi-connect{background: $server-search-slider-disabled;}
  }
  
  .map-search{position: relative;}
  map-widget{
    .map-object{
      height: 300px;
      margin: 20px 0 0 0;
      border: 1px solid #E0E0E0;
      display: block;
    }
    .message{
      height: 0;
      opacity: 0;
      
      font-size: 0.95em;
      .location {
        margin: 0 0 0 1px;
        border-top: none;
      }
      &.open {
        display: initial;
        opacity: 1;
        @include transition(.8s linear height);
        @include transition(1s linear opacity);
        margin-bottom: 50px;
        .location{background-color: #F8F8F8;}
      }
    }
  }
  .results-with-map{
    overflow: auto;
    height: 421px;
    position: relative;
  }
  .results{
    font-size: $thirteen;
    margin: 20px 0 0 10px;
    padding: 15px;
    border: 1px solid $server-search-border;
    background-color: white;
    .filters{
      label{padding: 3px; font-size: 1.15em;}
      span{
        font-size: 1.05em;
        position: relative;
        top: 6px;
      }
    }
    .locations-container{
      padding-top: 5px;
      font-size: 0.95em;
    }
  }
}