// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";

$jg-border: #c6c6c6;
$jg-module-bg-light: #ffffff;

#menu {
	background: 	$jg-module-bg-light;
	@include box-shadow(inset -1px 0 0 0 $jg-border);
} 