%section.description
  .container
    .pure-g
      .pure-u-1.pure-u-md-5-12
        %h2= t('public.title_box1')
        %h3= t('public.sec1_info1')
        %p=  t('public.sec1_info2')
      .pure-u-1.pure-u-md-7-12
        = image_tag('main/map-locations.png', class: "pure-img")
