%section.main-interoperability
  .container
    .pure-g
      .pure-u-3-5
        = image_tag('main/interop-img.png', class: "pure-img")
      .pure-u-2-5
        %h2= t('public.inter_head')
        %p= t('public.inter_par1')