%section
  .public-features
    .pure-g.headline
      .container
        .pure-u-4-5
          %h1
            =t('features.title_box1')
          %p.text-content
            =t('features.content_box1')